/* 다크 모드 스타일 */
body.dark-mode {
  background-color: black;
  color: white;
}

body.dark-mode .overlay {
  background-color: black;
  color: white;
}

@media (max-width: 1024px) {
  /* Responsive styles */
}

@media (max-width: 768px) {
  .head,
  .instagram-link img {
    font-size: 20px; /* 텍스트 크기 조정 */
    width: 30px; /* 인스타그램 버튼 크기 조정 */
    height: 30px; /* 인스타그램 버튼 크기 조정 */
  }
}
